{% if shelf.books %}
{% if shelf.books|length > 5 %}
<div class="card-columns pt-2 mb-3">
    {% for book in shelf.books|slice:":5" %}
    {% include 'main/components/bookcard.html' %}
    {% endfor %}
</div>
<div class="mb-3 text-center">
    <a href="{% url 'main:shelf' shelf.slug %}" class="btn btn-primary">Voir plus</a>
</div>
{% else %}
<div class="card-columns pt-2 mb-3">
    {% for book in shelf.books %}
    {% include 'main/components/bookcard.html' %}
    {% endfor %}
</div>
{% endif %}
{% else %}
<div class="alert alert-warning" role="alert">
    Cette étagère est vide ...
</div>
{% endif %}